#root {
  text-align: center;
  height: 100vh!important;
  width: 100vw;
  --scroll-bar-color: #c5c5c5;
  --scroll-bar-bg-color: #f6f6f6;
}

.chakra-select, option{
  /* width: !important; */
  height: auto!important;
  font-size: 1em!important;
  /* padding: .1em!important;
  margin: .5em!important; */
}

.tooltip {	
  position: absolute;
  z-index: 2000000!important;
  opacity: 1!important;			
  text-align: left;			
  width: auto;		
  max-width: 20vw;			
  height: auto;					
  padding: 10px;				
  font-style: monaco;		
  background: rgb(231, 245, 245);	
  border: 2px solid black;		
  font-weight: bold;
  border-radius: 8px;			
  pointer-events: none;	
  font-size: .9em!important;		
}

.rounded, .shadow >*, .rounded > * {
  border-radius: 1em!important;
}

hr {
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 1em;
  margin-top: .5em;
  margin-bottom: .5em;
}

hr:after {
  background: #fff;
  content: '§';
  padding: 0 4px;
  position: relative;
  top: -13px;
}


.chakra-button{
  height: auto!important;
  padding: .5em;
  padding-top: .2em;
  padding-bottom: .2em;
  border-radius: .2em;
  margin: 0em!important;
  font-size: 1em!important;
  margin-top:.8em!important;
}


.submitButton {
  height: auto;
  font-size: 1em;
  color: rgb(0, 0, 0);
  background-color: #a5a6d3;
  width: auto;
  display: inline-flex;
  padding: .8em;
  padding-top: .2em;
  padding-bottom: .2em;
  border-radius: .5em!important;
  margin: .2em;
  margin-top: .5em!important;
  font-weight: bold;
  cursor: pointer;
  border-color: #000000;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
}


.toggleButton {
  height: auto;
  font-size: 1em;
  color: black;
  background-color: #b3b3b3;
  width: auto;
  display: inline-flex;
  padding: .5em;
  padding-top: .2em;
  padding-bottom: .2em;
  border-radius: .2em!important;
  margin: 0em;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.25);
}


.toggleButtonCue {
  background-color: #080101;
  cursor: default!important;
  color: white;
  box-shadow: none;
}


.toggleButtonLabel{
  height: auto;
  font-size: 1em;
  color: black;
  background-color: #ffffff;
  width: auto;
  display: inline-flex;
  padding: .5em;
  padding-top: .2em;
  padding-bottom: .2em;
  border-radius: .2em!important;
  margin: 0em;
  font-weight: bold;
  cursor: default;
}

.modalButton, .modalButton > * {
  height: auto!important;
  font-size: 1.5em!important;
  color: blue;
  border: .1rem solid grey;
  background-color: #afe9af;
  width: auto;
  display: inline-flex;
  padding: .5em;
  padding-top: .2em;
  padding-bottom: .2em;
  border-radius: .2em!important;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.helpText {
  background: none;
  margin: 0!important;
  padding: 0!important;
}


.d3-component{
  height: 100%!important;
  width: 100%!important;
  margin: 0px!important;
  margin-top: 2px;
  padding: 0px;
  background-color: white;
  transform-origin: 0, 0;
  overflow-y: visible!important;
}

.spinner{
  height: min(50%,50px)!important;
  width: min(50%,50px)!important;
  margin-left: calc(50% - 25px)!important;
}

.fillSpace{
  height: 100%!important;
  width: 100%!important;
}

.fillHeight{
  height: 100%;
}

.fillWidth{
  width: 100%;
}

.centerText, .title{
  justify-content: center!important;
  text-align: center!important;
  width: 100% !important;
}

.d3label{
  text-anchor: 'middle'!important;
  text-align: center!important;
}

.title, .title > *{
  font-size: 1.1em;
  font-weight: bold!important;
  font-family: Georgia!important;
} 

.suptitle{
  font-size: .9em;
  font-weight: bold!important;
  font-family: Georgia!important;
}

.chakra-stack{
  height: 1.5em!important;
  margin: .1em!important;
  padding: .1em!important;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
  background-color: black;
}
*::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: grey;
}

.lightGutter {
  margin: .2em!important;
  padding: .1em!important;
}
.noGutter, .noGutter > *{
  margin: 0px!important;
  padding: 0px!important;
}

.scroll{
  overflow-y: scroll;
}

.shadow{
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.25);
  padding: 0px!important;
}

.legendText{
  font-size: 1em!important;
  font-family: georgia!important;
}

.autoSize{
  height: auto!important;
  width: auto!important;
}
